body
{
    background-color: rgb(223, 223, 222);
}
.header
{
    background-color: rgb(28, 28, 94);
    color: aliceblue;
    height: 100px;
}
.intro
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    text-align: center;
}
.table
    {
        background-color:rgb(28, 28, 94);
        color: aliceblue;
        width: 50%;
        align-items: center;
    }
.table
{
    margin: auto;
}
.form
{
    margin: auto;
}
button:hover
{
    background-color :bisque;
}
input:focus
{
    background-color: antiquewhite;
}
@media screen and (min-width : 768px)
{
.table
{
    height: 500px;
    border-radius: 5px;
    padding: 0px 150px;
}
.form
{
    height: 500px;
    padding:  0px 150px ;
}
}

@media screen and (max-width : 768px)
{
    .header
    {
        background-color: rgb(28, 28, 94);
        color: aliceblue;
        height: 100px;
    }
    .intro
    {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: x-large;
        text-align: center;
        padding: 20px 0px;
        
    }
    /* align the form center */
    .table
    {
        background-color:rgb(28, 28, 94);
        color: aliceblue;
        width: 50%;
        align-items: center;
    }
    .table
    {
        margin: auto;
        border-radius: 5px;
        height: 500px;

    }
    .form
    {
        margin: auto;
        height: 500px;
    }
    
}